// @import "react-datepicker/dist/react-datepicker.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap');
//HEADLINE
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
// CAPS
@import "reset";
@import "grid";

  $brown: #cb997e;
  $tan: #ddbea9;
  $beige: #ffe8d6;
  $green: #b7b7a4;

body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  h1, .quote, .date {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
    text-transform: lowercase;
    margin: 20px;
    color: $green;
  }
  .quote {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
  
  .main-new-button, .new-button, .main-view-journal-button, .update-button, .delete-button, .submit-new-button {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: $tan;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    height: 50px;
    width: 300px;
    border-radius: 2px; 
    margin: 5px;
    display: inline-block;
  }
  .main-new-button:hover, .new-button:hover, .main-view-journal-button:hover, .update-button:hover, .delete-button:hover, .submit-new-button:hover {
    opacity: 0.3;
  }
  .new-button, .update-button, .delete-button, .submit-new-button {
    font-size: 12px;
    height: 35px;
    width: 150px;
    border-radius: 2px; 
  }
  input[type="submit"]{
    all: unset;
  }

}

.NavBar {
  position: absolute;
  left: 10%;
  width: 500px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  .logo {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    text-transform: lowercase;
    margin: 20px;
    color: $green;
    margin: 5px 20px;
    vertical-align: middle;
    display: inline-block;
  }
  a {
    color: black;
    margin: 5px 10px;
    vertical-align: middle;
    display: inline-block;
  }
  a:hover {
    color: $tan;
    text-decoration: none;
  }
  
}

.NewPage, .JournalEntryPage, .JournalPage, .UpdateJournalEntryPage {
  // background: url('https://res.cloudinary.com/dxuoqqfve/image/upload/v1613619602/ivan-gromov-Y3vPEuNlf7w-unsplash_1_xftm5m.jpg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  // height: 50vh;
  margin: 50px 0 0 0;
  text-align: center;
  background-color: #e2d5cd;
  // border: 1px solid $brown;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .top{
    // border: 2px solid green;
    
  }
  .middle{
    // border: 2px solid blue;
    display: flex;
    .col1 {
      order: 1;
      // border: 2px solid yellow;
      width: 50%;
    }
    .col2 {
      order: 2;
      // border: 2px solid red;
      width: 50%;
    }
  }
  .bottom{
    // border: 2px solid purple;
  }
  // form {
  //   display: flex;
  // }
  .input-label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }
  input, textarea, #time, .input-area, .date-picker {
    display: inline-block;
    border: 2px dotted grey;
    background-color: rgb(235, 232, 232);
    border-radius: 10px; 
    height: 60px;
    width: 400px;
    font-size: 12px;
    text-align: left;
    padding: 5px;
  }
  textarea, .input-area{
    resize: none;
    overflow: auto;
  }
  #time, .date-picker{
    text-align: center;
    height: 50px;
    width: 120px;
  }
  #feelings, .feelings{
    height: 250px;
    width: 400px;
    overflow: scroll;
  }

  p, ul {
    padding: 0;
    margin: 0;
}
 
}

.JournalEntryPage {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.JournalPage {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  
  a {
    color: black;
    margin: 5px 10px;
    vertical-align: middle;
    display: inline-block;
  }
  a:hover {
    color: $tan;
    text-decoration: none;
  }
  .month-filter {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    // margin: 0 auto;
    justify-content: center;
    padding: 50px;
  }
  // .col1 {
  //   border: 1px solid blue;
  //   width: 400px;
  // }
  .month {
    font-family: 'Playfair Display', serif;
    font-size: 14;
    // text-align: center;
    font-weight: 900;
    font-style: italic;
    text-transform: lowercase;
    width: 100px;
    height: 100px;
    background: $beige;
    border-radius: 50%;
    color: $green;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .month:hover {
    background: $brown;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .filtered-entries {
    display: inline-block;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(119, 58, 32, 0.2), 0 6px 20px 0 rgba(119, 58, 32, 0.19);
    padding: 5px;
    margin: 0 auto;
  }
}

.AppPage {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background: url('https://res.cloudinary.com/dxuoqqfve/video/upload/v1613527180/green-hillside-video_vribtu.mov');
  box-sizing: border-box;
  video {
    position: absolute;
    // left: 50%;
    top: 10%;
    overflow: hidden;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    // min-width: 100%;
    // min-height: 100%;
    width: 100%;
    // height: 80%;
    // -webkit-transform: translate(-50%,-50%);
    // -moz-transform: translate(-50%,-50%);
    // -ms-transform: translate(-50%,-50%);
    // transform: translate(-50%,-50%);
    z-index: 0;
  }
  .app-main {
    position: absolute;
    left: 30%;
    top: 50%;
  }
  .headline {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: center;
    color: white;
  }
}

