// @import "react-datepicker/dist/react-datepicker.css";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
//TITLE
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap');
//HEADLINE
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
// CAPS
@import "reset";
@import "grid";

  $brown: #cb997e;
  $tan: #ddbea9;
  $beige: #ffe8d6;
  $green: #b7b7a4;

body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
    text-transform: lowercase;
    margin: 20px;
    color: $green;
  }
  .headline {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: center;
  }
  .new-button, .view-journal-button, .update-button, .delete-button, .submit-new-button {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: $tan;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    height: 50px;
    width: 300px;
    border-radius: 2px; 
    margin: 5px;
    display: inline-block;
  }
  .new-button:hover, .view-journal-button:hover, .update-button:hover, .delete-button:hover, .submit-new-button:hover {
    opacity: 0.3;
  }
  .update-button, .delete-button, .submit-new-button {
    font-size: 12px;
    height: 35px;
    width: 150px;
    border-radius: 2px; 
  }
  .update-button:hover, .delete-button:hover, .submit-new-button:hover {
    opacity: 0.3;
  }
  input[type="submit"]{
    all: unset;
  }

}

.NavBar {
  display: flex;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  .logo {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    text-transform: lowercase;
    margin: 20px;
    color: $green;
    margin: 5px 20px;
    vertical-align: middle;
    display: inline-block;
  }
  a {
    color: black;
    margin: 5px 10px;
    vertical-align: middle;
    display: inline-block;
  }
  a:hover {
    color: $tan;
    text-decoration: none;
  }
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
  }
}

.AboutPage {

}

.AppPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: -30%;
  width: 80vw;
  height: 100vh;
  overflow: none;
  text-align: center;
  background: url('https://res.cloudinary.com/dxuoqqfve/video/upload/v1613527180/green-hillside-video_vribtu.mov');
}


